* {
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

#logo {
  width: 16%;
  margin-left: 16%;
  margin-top: 5px;
}

#draw {
  position: initial;
  width: 50%;
  margin-left: 50%;
}

h1 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-size: 47px;
  color: #353535;
  margin-left: 8%;
  margin-top: 6%;
}

h4 {
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: #6b6a6a;
  margin-left: 4%;
  margin-top: 11%;
  font-weight: 200;
  text-align: center;
}

purple {
  color: rgb(150, 65, 161);
  font-weight: 700;
}

.button-content {
  position: absolute;
  margin-left: 21%;
  margin-top: 18%;
  border: none;
  background-color: rgb(150, 65, 161);
  color: white;
  font-size: 16px;
  padding: 10px 35px;
}

.button-content:hover {
  background-color: rgb(185, 80, 199);
  transition-duration: 0.2s;
}

#calculadora {
  margin-left: -70px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  margin-top: 10%;
  padding-left: 100px;
  height: 600px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}

.icon {
  width: 15%;
  margin-bottom: 15px;
}

h5 {
  color: black;
  font-weight: 400;
}

#a {
  color: rgb(113, 31, 124);
}

a {
  text-decoration: none;
  color: white;
}

#valor-1 {
  text-align: center;
  margin-top: 55px;
  border: none;
  border-bottom: 2px solid rgb(113, 31, 124);
}

#valor-2 {
  text-align: center;
  margin-top: 22px;
  border: none;
  border-bottom: 2px solid rgb(113, 31, 124);
}

#valor-3 {
  text-align: center;
  margin-top: 60px;
  border: none;
  border-bottom: 2px solid rgb(113, 31, 124);
}

#valor-4 {
  text-align: center;
  margin-top: 45px;
  border: none;
  border-bottom: 2px solid rgb(113, 31, 124);
}

#calcular {
  position: absolute;
  margin-left: 45%;
  margin-top: -20%;
  border: none;
  background-color: rgb(150, 65, 161);
  color: white;
  font-size: 16px;
  padding: 10px 35px;
}

#calcular:hover {
  transition-duration: 0.4s;
  background-color: rgb(185, 80, 199);
}

#erro {
  position: absolute; 
  margin-left: 0%;
  margin-top: -25%;
  color:white;
  padding: 10px;
  background: rgba(177, 26, 26, 0.6);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  visibility: hidden;
}

#resultado {
  position: absolute; 
  margin-left: 45%;
  margin-top: -15%;
  border-bottom: 3px rgb(113, 31, 124) solid;
  color: rgb(113, 31, 124);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 26px;
  text-align: center;
}